:root {
  --main: #47569e;
  --dark: #230e46;
  --light: #e7e9f4;
  --white: #ffffff;
  --point: #e86549;
  --background: #f5f4f8;
}

body {
  background-color: #fbfbfb;
  height: 100vh;
}

.navbar {
  background-color: var(--background);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
